.title-text a {
  text-decoration: underline;
  color: #ED4804
}

.main-nav ul li a:hover {
  opacity: .5;
}

.active {
  border-bottom: 1px solid #ED4804;
}

/* NAV */

.main-nav {
  display: inline-block;
  font-weight: 100;
  left: 72px;
  position: fixed;
  top: 38vh;
  width: calc(((100vw - 144px) / 8) * 2);
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  background: none;
}

.main-nav ul {
  font-family: 'Lato', sans-serif;
  list-style: none;
  display: block;
}

.main-nav ul li a {
  color: #ED4804
}

.main-nav li {
  margin: 0 35px 10px 0;
  font-size: 1.5rem;
}

.col-1 {
  top: 15vh;
  position: fixed;
  right: 72px;
  position: absolute;
  right: 72px;
  overflow: scroll;
  width: calc(((100vw - 147px) / 8) * 6);
}

/* ABOUT */

.title-text {
  width: 800px;
}

.title-text h2 {
  margin: 0 0 25px 0;
  font-family: 'Crimson Text', sans-serif;
  font-size: 2.6rem;
}

.text-1, .text-2 {
  font-family: 'Work Sans', sans-serif;
  width:calc(91% - 50px);
  font-size: 0.8rem;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .title-text {
    width: auto;
    padding: 0 16px 140px;
}

  .text-1, .text-2 {
    width: auto;
}
}


/*@media screen and (max-width: 1200px) {
  
  nav {
    margin-top: 2%;
    margin-left: -7%;
  }

  footer {
    margin-top: 430px;
  }

  .title-text h2 {
    font-family: 'Crimson Text', sans-serif;
    margin-top: 12%;
    margin-left: 25px;
    font-size: 60px;
  }

  .text-1 {
    font-family: 'Work Sans', sans-serif;
    margin: 20px;
    width:calc(100% - 60px);
    line-height: 25px;
  }

  .text-2 {
    font-family: 'Work Sans', sans-serif;
    margin: 20px;
    width:calc(100% - 60px);
    line-height: 25px;
  }


/* FOOTER 


footer {
    background-color: white;
    border: none;
    margin: 12px;
    margin-top: 55px;
    margin-bottom: 55px;
   
  }
  
  footer p {
    float: left;
    margin-top: 0px;
    margin: 0;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    color: #093ACF;
   
  }
  
  footer ol {
    list-style: none;
  }
  
  footer li {
    display: inline-block;
    cursor: pointer;
    float: right; 
  
  }
  
  footer ol li img {
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  
  nav {
    margin-top: 2%;
    margin-left: -1%;
  }

  .dropbtn {
    background-color: #E6EEFE;
  }

/* ABOUT 

  .title-text h2 {
    font-family: 'Crimson Text', sans-serif;
    margin-top: 12%;
    margin-left: 25px;
    font-size: 60px;
    color: #093ACF;
  }

  .text-1 {
    font-family: 'Work Sans', sans-serif;
    margin: 20px;
    width:calc(100% - 60px);
    line-height: 25px;
    color: #093ACF;
  }

  .text-2 {
    font-family: 'Work Sans', sans-serif;
    margin: 20px;
    width:calc(100% - 60px);
    line-height: 25px;
    color: #093ACF;
  }


/* FOOTER 


footer {
    background-color: white;
    border: none;
    margin: 12px;
    margin-top: 55px;
    margin-bottom: 55px;
   
  }
  
  footer p {
    float: left;
    margin-top: 0px;
    margin: 0;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    color: #093ACF;
   
  }
  
  footer ol {
    list-style: none;
  }
  
  footer li {
    display: inline-block;
    cursor: pointer;
    float: right; 
  
  }
  
  footer ol li img {
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 10px;
  }

}