body {
    overflow-x: hidden;
    color: #F0343C;
    font-family: 'Bellefair',sans-serif;
  }
.back-arrow {
    position: absolute;
    bottom: 0;
    right: 3vw;
    font-size: 11vh;
}
.col-1 {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 0 10vw;
}

.cls-11, .cls-25 {
    color: #F6C09C;
    stroke: #F6C09C;
    fill: #F6C09C;
}

h1.hypothesis {
    font-weight: 100;
    font-size: 6vh;
}

p.hypothesis-text {
    font-size: 3vh;
    line-height: 5vh;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.end p, .end span {
   margin: 0 !important;
   flex-direction: column;
}


.project-description {
    font-size: 3vh;
    line-height: 1.6;
    margin: 5vh;
}

.project-title {
    display: flex;
    margin: 0 3vh;
    font-size: 5vh;
    line-height: 1.2;
    flex-direction: column;
}

.project-title.end {
    text-align: center;
}

.project-title p {
    font-size: 9vh;
    margin: 0 35vw 0 0vw;
    line-height: 1.6;
}

.project-title span {
    font-size: 3vh;
    margin: 0 35vw 0 0vw;
    line-height: 1.6;
}

img, video.clp-plp-test {
    position: relative;
    width: 100%;
}

hr.nav-hr {
    margin: 0 2vw 5vw;
}

img.next-product {
    height: 9vh;
    transform: rotate(270deg);
}

.t-mockup.nv {
    width: 55vw;
    margin: 8vh 0;
}
.t-mockup.nvr {
    width: 55vw;
    display: flex;
    align-self: flex-end;
}

span.outline {
    color: #C9C1B4;
    -webkit-text-fill-color: #f6eee3; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C9C1B4;
  }

ul {
    list-style: none;
    display: inherit;
}
li {
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
    .hypothesis-container {
        display: block;
        flex-direction: row;
    }

    h1.hypothesis {
        font-size: 4vh;
    }
}

@media screen and (max-width: 1280px) {

    button {
        padding: 3vw 4vw 2vw;
    }

    .col-1 {
        margin: 5vw;
    }

    .project-title {
        display: flex;
        font-size: 3vh;
        line-height: 1.2;
        margin: 5vh 1vh;
    }

    .project-title p {
        font-size: 6vh;
        margin: 0vw;
        line-height: 1.6;
    }

    .project-title span {
        margin: 0vw;
    }

    .t-mockup.nv {
        width: auto !important;
        margin: auto !important;
    }
    
    .t-mockup.nvr {
        width: auto !important;
        margin: 5vh 0;
        display: flex;
        align-self: auto !important;;
    }
}