a {
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye {
  cursor: pointer;
}

.eye:hover {
  transition: all .2s linear;
  opacity: .5;
}

.eyeContent{
  width: 30px;
  height: 30px;
  background: #fff;
  position: relative;
  display: inline-block;
  border-radius: 4000px;
  overflow:hidden;
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  animation-duration: 650ms;
  background: #fff;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

hr {
  margin: 5vw 2vw;
  border: 0;
  height: 2px;
  background: #E30A00;
}

nav {
  left: 0;
  z-index: 89;
  width: 100%;
  margin: 1.5vh 2.5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
}

a.nav__link.logo {
  padding: 0;
  /* height: 1vh; */
}

.pupil{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #000;
  border: solid 2px #000;
  border-radius: 50%;
  left: calc(50% - 5px/2 - 2px);
  top: calc(50% - 5px/2 - 2px);
  transition: all ease .1s;
  z-index: 1000;
}

#p-logo {
  height: 13vh;
  margin: 3vh;
  cursor: pointer;
}




